@tailwind base;
@tailwind components;
@tailwind utilities;

.div-carousel-tamanho{
    width: 100%;
    height: 300px;
}

@font-face {
  font-family: "Anton";
  src: url(fontes/Anton.ttf);
}

@layer utilities {
  .scrollbar-off::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .scrollbar-off::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
  
  }

  .scrollbar-off::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0);
  }

    .scrollbar-thin::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar-thin::-webkit-scrollbar-track {
      background: none;
    }
  
    .scrollbar-thin::-webkit-scrollbar-thumb {
      background-color: #8F7070;
      border-radius: 10px;
    
    }
  
    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
      background: #8F7070;
    }

    .scrollbar-container {
        padding-right: 16px; /* Espaço extra do lado direito para afastar a barra de rolagem vertical */
        padding-bottom: 16px; /* Espaço extra na parte inferior para afastar a barra de rolagem horizontal */
      }
    
}

.div-carousel-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_text_shadow{
  text-shadow: -1px 1px 2px rgba(225, 161, 65, 0.5);
}

.card_text_shadow_preco{
  text-shadow: -1px 1px 2px rgba(0,0,0, 0.5);
} 

.card_shadow{
  background: rgba(0,0,0,0.2);
} 

#card{
  cursor: pointer;
}


.card-f-fundo{
  background: rgba(0,0,0,0.5);
}

.card_shadow_info{
  background: rgba(0,0,0,0.3);
} 

.close {
  text-align: end;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #aaa9a9;
  text-decoration: none;
  cursor: pointer;
}

